body {
	width: 100vh;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	background: url(https://source.unsplash.com/collection/136095);
	background-repeat: no-repeat;
	background-size: cover;
}
#navbar {
	padding: 10px 50px 0;
}
.navbar {
	background: transparent;
	border: none;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	font-weight: 100;
	background: transparent !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #fff;
}

#search input {
    background: transparent;
    box-shadow: none;
    height: 45px !important;
    line-height: 45px !important;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.66);
    padding: 10px;
    font-size: 20px;
		font-family: Arial, sans-serif;
		transition: 0.7s ease;
}
#search input:hover,
#search input:focus {
	background-color: rgba(255, 255, 255, 0.66);
}

#search input:focus, #search button:focus, #search input:hover, #search button:hover {
    outline: 0;
    opacity: 1;
}

button {
	padding-left: 20px;
	border: none;
	font-size: 30px;
	color: #fff;
	background: transparent;	
	transition: all 0.4s ease 0s;	
}

button:hover i {
	transform: scale(2)
}


.clock-wrap {
	display: table;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.52);
}
.clock {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 100%;
	color: white;
	background: -webkit-radial-gradient(rgba(250,250,250,0.1) 0%,rgba(0,0,0,0.3) 100%); 
	background: radial-gradient(rgba(250,250,250,0.1) 0%,rgba(0,0,0,0.3) 100%);
}

input {
	padding: 20px 32px;
	width: 35%;
	border: 0px;
	border-bottom: 1px solid #fff;
	color: #fff;
	background-color: transparent;
}
.clock form {
	margin-bottom: 25px; 
}
.clock h1,
.clock span {
	font-size: 8.3em;
	font-weight: 400;
	display: inline-block;
	letter-spacing: 1px;
	padding: 0.15em 0.25em;
	line-height: 90px;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.clock p {
	font-size: 2.5em;
	margin-top: 0.5em;
	font-weight: 500;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.65);
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}



@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.fade-in.two {
	-webkit-animation-delay: 1.4s;
	animation-delay: 1.4s;
}
.fade-in.three {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
}


.icon_myaccount {
  background-image:url('../images/myaccount.png');
  background-size:cover;
}

.icon_googleplus {
  background-image:url('../images/plus.png');
  background-size:cover;
}

.icon_youtube {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/google/youtube.png');
  background-size:cover;
}

.icon_drive {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/google/drive.png');
  background-size:cover;
}

.icon_gmail {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/google/gmail.png');
  background-size:cover;
}

.icon_documents {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/google/docs.png');
  background-size:cover;
}

.icon_contacts {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/google/contacts.png');
  background-size:cover;
}

.icon_photos {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/google/photos.png');
  background-size:cover;
}

.icon_calendar {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/google/calendar.png');
  background-size:cover;
}

.icon_news {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/google/news.png');
  background-size:cover;
}

.icon_sheets {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/google/sheets.png');
  background-size:cover;
}

.icon_hangouts {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/google/hangouts.png');
  background-size:cover;
}

.icon_googlemap {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/google/maps.png');
  background-size:cover;
}

.icon_classroom {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/google/classroom.png');
  background-size:cover;
}

.icon_facebook {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/favicons/facebook.png');
  background-size:cover;
}

.icon_twitter {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/favicons/twitter.png');
  background-size:cover;
}

.icon_pinterest {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/favicons/pinterest.png');
  background-size:cover;
}

.icon_tumblr {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/favicons/tumblr.png');
  background-size:cover;
}

.icon_vk {
  background-image:url('chrome-extension://adfdkanmpllbiciihdhnlpoakjodfnoh/start/skin/icons/favicons/vk.png');
  background-size:cover;
}